.header {
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px;
    border-color: rgba(84, 84, 84, 0.3);
    border-top: solid 1px;
}



@media screen and (max-width: 601px) {
    .header {
        max-width: 600px;
    }
}