.photo-plase__name {
    margin: 0;
    padding: 0;
    max-width: 200px;
    margin-top: 25px;
    margin-bottom: 31px;
    margin-left: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}