.profile__block {
    margin: 0;
    padding: 0;
    max-width: 880px;
    display: flex;
    flex-direction: row;
}

.profile__block:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 929px) {
    .profile__block {
        margin: auto;
        max-width: 282px;
        flex-direction: column;
        align-items: center;
    }
}