.photo-plase__counter-like {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;
margin: 0;
margin-top: 3px;
margin-right: 19px;
max-width: 40px;
color: #000000;
}