.footer__info {
    margin-top: 67px;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;

}

@media screen and (max-width: 929px) {
    .footer__info {
        margin-top: 48px;
        padding-bottom: 36px;
        margin-left: 19px;
        font-size: 14px;
        line-height: 17px;
    }
}