.header__button {
    background-image: url('../../../image/Close\ Icon123.svg');
    width: 20px;
    height: 20px;
    margin-right: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}