.profile__edit-button {
    margin: 0;
    padding: 0;
    margin-top: 77px;
    width: 24px;
    height: 24px;
    border: #000000 1px;
    background-color: black;
    background-image: url(../../../image/Edit_Button.svg);
    background-repeat: no-repeat;
    background-size: cover;

}


@media screen and (max-width: 929px) {
    .profile__edit-button {
        margin-top: 0;
        max-width: 18px;
        max-height: 18px;
        margin-left: 10px;
    }
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}